.refund_content{
	border: 1px solid #CACACA;
	border-radius:5px;
	height:280px;
	margin-top:20px;
}
.refund_content p{
	margin:20px 0 0 20px;
}

.mer-content{
	margin-left: -15px;
    margin-right: -15px;
	margin-top: 25px;
}
.mer-title{
	float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.mer-content-textarea{
	width: 85.3%;
	float: left;
    padding-right: 15px;
	margin-bottom: 10px;
}
.mer-btn{
	margin-left: 12.667%;
	margin-top:10px;
}

