.refund_content{
	border: 1px solid #CACACA;
	border-radius:5px;
	height:280px;
	margin-top:20px;
}
.refund_content p{
	margin:20px 0 0 20px;
}
.refund_content img{
		width:50px;
	height:50px;
}




.mer-content{
	margin-left: -15px;
    margin-right: -15px;
	margin-top: 25px;
}
.mer-title{
	float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.mer-content-textarea{
	width: 85.3%;
	float: left;
    padding-right: 15px;
	margin-bottom: 10px;
}
.goods-content{
	margin-top: 20px;
}
.mer-btn{
	margin-left: 12.667%;
	margin-top:10px;
}



.goods-img{
	float: left;
}
.goods-img img{
	width:50px;
	height:50px;
}
.goods-desc{
	display: inline-block;
	margin-left:10px;
}
.goods-content span {
    float: right;
}

.goods-info{
	height:50px;
	margin-bottom:10px;
}

.mer_check{
	border: 1px solid #CACACA;
	border-radius:5px;
	height:180px;
	margin-top:20px;
}
.mer_check p{
	margin:20px 0 0 20px;
}


